.hidden {
    display: none;
}
.start {
    min-height: 40px;
    min-width: 140px;
    max-width: 140px;
    background-size: contain;
    border-radius: 3px;
    border: 1px #83b1ff solid;
    cursor: pointer;
    color: #83b1ff;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.control {
    max-width: 100px;
    max-height: 100px;
    background-color: #192684;
    position: absolute;
    z-index: 100;
    border-radius: 3px;
    border: 1px #c7ece8 solid;
    cursor: pointer;
}
